$$Function:GetEnumOperandKind,EnumKind,SPIRVSpec,Kind$$
	$$Assign:EnumKind,null$$
	$$Foreach:OperandKind,SPIRVSpec.operand_kinds$$
		$$Ifneq:OperandKind.kind,Kind$$
			$$Continue$$
		$$End$$

		$$Assign:OperandKind.Default,OperandKind.enumerants[0]$$
		$$Assign:EnumKind,OperandKind$$
		$$Return$$
	$$End$$
$$End$$