#!$<>\
$$LoadObject:SPIRVSpec,"spirv.core.grammar.json",json$$

$$Template:"Inc/Frertex/Transpilers/SPIRV/CodeBuffer.h","CodeBuffer.h",SPIRVSpec$$
$$Template:"Inc/Frertex/Transpilers/SPIRV/Enumerations.h","Enumerations.h",SPIRVSpec$$
$$Template:"Src/Transpilers/SPIRV/CodeBuffer.cpp","CodeBuffer.cpp",SPIRVSpec$$
$$Template:"Src/Transpilers/SPIRV/Enumerations.cpp","Enumerations.cpp",SPIRVSpec$$